

.scrollable{
        /* height: 100%; */
    /* overflow: auto; */
    /* min-height: 550px; */
    height: 461px;
    /* width: 18%; */
    overflow: hidden;
    overflow-y: auto;
}
.point{
    cursor: pointer;
}